@charset "UTF-8";
/*Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @mastersim Sign out
61
314 84 mor10/kuhn
 Code  Issues 6  Pull requests 2  Projects 0  Wiki  Insights
kuhn/sass/_normalize.scss
054ffd3  on 12 May 2017
@mor10 mor10 Main grid in place
     
213 lines (174 sloc)  2.22 KB*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*© 2019 GitHub, Inc.*/
HTML CSS
Result
EDIT ON
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  /*Conteneur flex en colonne*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.global {
  max-width: 100vw;
  /*Propriété comme item flex*/
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  /*Conteneur flex en rangée*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Poussée vers la gauche pour ne pas voir le menu*/
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Effet de transition sur la transformation*/
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /*	overflow-x: hidden; */
}

.menu {
  background-color: #3e454c;
  text-align: center;
  /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
  width: 100vw;
  /*Propriété comme item flex - ne peut rétrécir*/
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  /*Contexte flex en colonne pour ses enfants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.boutonBurger {
  background: -webkit-gradient(linear, left top, left bottom, from(#3e454c), color-stop(20%, #3e454c), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #3e454c), color-stop(60%, #3e454c), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #3e454c), to(#3e454c));
  background: linear-gradient(to bottom, #3e454c 0%, #3e454c 20%, transparent 20%, transparent 40%, #3e454c 40%, #3e454c 60%, transparent 60%, transparent 80%, #3e454c 80%, #3e454c 100%);
  height: 48px;
  width: 48px;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
  /*Effet de transition sur la rotation*/
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#chkBoutonBurger:checked ~ .global {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#chkBoutonBurger:checked ~ .boutonBurger {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#chkBoutonBurger {
  display: none;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #ffffff;
}

.sidebar2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sidebar2;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.wrapper {
  padding: 1%;
  background-color: #ffffff;
  color: #444;
  min-width: 100vw;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
      grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
        grid-template-areas: "header   header" "sidebar  content" "sidebar2 sidebar2" "footer   footer";
    min-width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 1em;
  }
  .boutonBurger {
    display: none;
  }
  .global {
    /*Placer à sa potition d'origine*/
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /*Mettre le contenu en colonne*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    /*Propriété comme item flex - ne peut s'étirer en hauteur*/
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    /*Affichage du menu en rangée*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu a {
    border: none;
    /*Propriété comme item flex - peut s'étirer en largeur*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .menu a:first-child {
    border-top: none;
  }
  .wrapper {
    grid-gap: 20px;
    -ms-grid-columns: 120px auto 120px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer";
    max-width: 100%;
  }
}

.box {
  color: #fff;
  padding: 10px;
  font-size: 150%;
  background-color: blue;
}

.header,
.footer {
  background-color: #11c7e7;
}

.sidebar2 {
  background-color: #606de6;
  color: #444;
}

.sidebar3 {
  background-color: #606de6;
  color: #444;
}

.sidebar {
  background-color: #7b7be9;
  color: #3e454c;
}

div {
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */