HTML CSS 
Result 
EDIT ON
 
body {
  margin: 40px;
  background-color: #111111 ;
}

.sidebar {
        grid-area: sidebar;
        background-color: #111111 ;
    }

    .sidebar2 {
        grid-area: sidebar2;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper {
        background-color: #111111 ;
        color: #444;
    }

  .wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

    @media only screen and (min-width: 500px)  {
    .wrapper {

        grid-template-columns: 20% auto;
        grid-template-areas:
    "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
    }

    @media only screen and (min-width: 600px)   {
        .wrapper {
      grid-gap: 20px;
            grid-template-columns: 120px auto 120px;
            grid-template-areas:
      "header  header  header"
            "sidebar content sidebar2"
            "footer  footer  footer";
            max-width: 600px;
        }
    }

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
  background-color: blue;
}

.header,
.footer {
  background-color: #999;
}

.sidebar2 {
  background-color: #971313;
  color: #444;
}

.sidebar3 {
    background-color: #971313;
    color: #444;
  }
.sidebar {
    background-color: rgb(123, 123, 233);
    color: #444;
  }